@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #0D0D0D;
  --background: #ffffff;
  --orange: #FE4A23;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}


  
.slide-up {
  animation: slide-up 1s ease-in-out;
}

@keyframes t{
  to {background-size: 100% 100%} /* we animate to 100% 100%*/
}

@keyframes slide-up {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

body {
  color: rgb(var(--dark));
  background: var(--background);
  font-family: 'Urbanist', sans-serif;
}

.marquee {
  width: 90%;
  display: inline-block;
  animation: marquee 20s linear infinite;
}
  
.cards-stacked-container .card-stacked {
  position: relative;
  left: 0;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.cards-stacked-container .card-stacked:not(:first-child) {
  margin-top: -45%;
}

.cards-stacked-container .card-stacked:last-child {
  margin-top: -40%;
}

.cards-stacked-container .card-stacked:first-child {
  scale: 0.8;
}
.cards-stacked-container .card-stacked:nth-child(2) {
  scale: 0.90;
  
}

.btn-shadow-orange {
  box-shadow:0px 25px 50px -12px var(--orange)
}
